/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* Файл variables.css */
:root {
  --bg-color: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-section-color: #ff0070;
  --title-description-color: #000028;
  --description-color: #f1b2ce;
  --menu-button-color: #ff0070;
  --menu-button-border-color: rgba(255, 0, 112, 0.4);
  --decorated-zone: #ff0070;
  --decorated_element: 1;
}
